<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Made by Paul O'Connell">

    <title>Strata Voting Example</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/index.js" defer></script>
  </head>
  <body><center>
    <header>
      <h1>On-line Strata Voting Example</h1>
    </header>

    <main>
      <h2>Using Trulioo's trusted verification to aggregate strata member's feedback. </h2>
      <hr>
      <div id="trulioo-embedid"></div>

<!-- This script renders the form for the div above --> 
<script type="text/javascript" src="https://js.trulioo.com/latest/main.js"></script>

<!-- Initialize your form here with your Frontend (FE) key -->
<script> 
  // Handle the response of EmbedID after form submits
  function handleResponse(e) { 
    if(!e){
      console.log("handle response called with no object");
      return;
    }
    console.log('inside index.html script handleResponse data:', e); 
    console.log(" called/logged after submitting form, response is :",e.experienceTransactionId);
    let txId=e.experienceTransactionId;
    // now send this TxId to backend to make secure connection:
    let sendBackUrl='https://gateway.trulioo.com/experienceTransaction/'+txId;
    if(!sendBackUrl){ 
      console.log(" failed to get TxId  ");
      return;
    }
   // now send getURL to back end...use post?  create api to handle?     
    
    // this call needs to happen from the backend to hide env.key
    var options = {
      method: 'POST',
      body:sendBackUrl,
      headers:{
        "Content-Type":"application/json"
      }
      
    };
    console.log("about to send txId to backEnd");
    var displayResult= document.getElementById("verifiedResponse");
    displayResult.value="verifying...";
    fetch('/api',options).then(data => {
      displayResult.value=JSON.stringify(data);
      console.log("data recieved after api call",data);
    });
      

    
    
    
    //this is backend call
//     request.headers={x-trulioo-api-key: {cad38158eeb147b38cc7e43d2fd25f05}}
//       request(options, function (error, response, body) {
//       if (error) throw new Error(error);
//       console.log("server.js response.connection.eventsCount is ", response.connection._eventsCount)
//       console.log("inside initial server request ",Object.keys(response.connection));
//       console.log(" connection secureEstablished? authorized? ",response.connection._secureEstablished, response.connection.authorized)

//     });
    
    
      
  }  // end of handleResponse

  
  const publicKey = "628a2962f17f4b5da4a32678294861e6"; // Public Key
  const accessTokenURL = 'http://localhost:8080';
  new TruliooClient({ 
    publicKey, 
   // accessTokenURL, //handled by middleware
    handleResponse 
  });
  //see errorin TruliooCLient @ 97, seems it requires this abstract function to be defined:
  function errorHandler(err,str){
    console.log(err,str);
  }
  
  
</script>
      <textarea readonly id="verifiedResponse"> Please verify above
      </textarea>
      <hr>
      <p>Please select your primary concern in terms of <br><b>Strata Capital Projects:</b></p>

      <form>
        <label>
          Enter Project and Details:
          <input name="dream" type="text" maxlength="100" required placeholder="Specific Capital Project">
        </label>
        <center>
        <button type="submit" id="submit-concern">Add Capital Expense request/concern</button>
        </center>
      </form>

      <button type="button" id="button-no">Avoid/No Capital expenses</button>  
      <hr>
      <section class="dreams">
        <div id="strataList">
          <ul id="dreams">
            <em>loading dreams&hellip;</em>
          </ul>
        </div>
      </section>
      <section id="trulioo">
      
      </section>
    </main>

    <footer>Made by <b>Paul O'Connell</b> 2020</footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:2em;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>
    </center>
    
  </body>
</html>
