<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Made by Paul O'Connell">

    <title>Strata Voting Example</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/index.js" defer></script>
  </head>
  <body><center>
    <header>
      <div class="background">
      <h1>Municiple Capital Expense WishList</h1>
      </div>
    </header>

    <main>
      <h2> Join with Trulioo's trusted verification.  Help us get community feedback. </h2>
      <hr>
      <div id="trulioo-embedid"></div>

<!-- This script renders the form for the div above --> 
<script type="text/javascript" src="https://js.trulioo.com/latest/main.js"></script>


<script> 
  // Handle the response of EmbedID after form submits
  function handleResponse(e) { 
    if(!e){
      console.log("handle response called with no object");
      return;
    }
    console.log('inside index.html script handleResponse data:', e); 
    console.log("Your TransactionId is :",e.experienceTransactionId);
    let txId=e.experienceTransactionId;
    // now send this TxId to backend to make secure connection:
    let sendBackUrl='https://gateway.trulioo.com/experienceTransaction/'+txId;
    if(!sendBackUrl){ 
      console.log(" failed to get TxId  ");
      return;
    }
   // now send getURL to back end...use post,  create api to handle in backend    
    
    // call needs to happen from the backend to hide .env BE key
    var options = {
      method: 'POST',
      headers:{
        "Content-Type":"application/json"
      },
      body:JSON.stringify({"url":sendBackUrl})
      
    };
    console.log("about to send txId to backEnd");
    var displayResult= document.getElementById("verifiedResponse");
    displayResult.innerHTML="verifying...";
    fetch('/api', options).then(data => data.json())
      .then(data=>{

        let returnedJson=data;
        console.log(" index html 66 returnedJson is ", returnedJson);
        if(returnedJson.verification_Result!='match'){
          displayResult.innerHTML="Sorry, NOT verified based on data you entered, please refresh page and try again ";
          document.getElementById("verifiedName").readOnly=false; 
          document.getElementById("verifiedName").value="Not Verified, please refresh page";
          document.getElementById("verifiedName").readOnly=true;
          // Not verified => disable buttons to force refresh so EmbedId can be tried again
          document.getElementById("submit-concern").disabled = true;
          document.getElementById("submit-concern").style.backgroundColor = 'Red';
        }
        else{
          displayResult.innerHTML="Verified :) Welcome "+returnedJson.firstName+"You may use form below:";
          console.log(returnedJson, returnedJson.firstName, returnedJson.lastName)
          if(returnedJson.firstName){
            
            // fill in name details ONLY if Verified, keep input box read only=locked
            document.getElementById("verifiedName").readOnly=false; 
            document.getElementById("verifiedName").value=`${returnedJson.firstName} : VERIFIED`;
            document.getElementById("verifiedName").readOnly=true;
            document.getElementById("tryAgain").innerHTML="";  // reset warning
           
          }
            console.log("data received after api call", returnedJson);
        }
    });
      
  }  // end of handleResponse()

  <!-- Initialize your form here with your Frontend (FE) key -->
  const publicKey = "cad38158eeb147b38cc7e43d2fd25f05"; // Public Key FE
  const accessTokenURL = 'http://localhost:8080';
  new TruliooClient({ 
    publicKey, 
   // accessTokenURL, //handled by node middleware
    handleResponse 
  });
  // I saw error TruliooCLient @ 97, seems to require abstract function to be defined?
  function errorHandler(err,str){        // but I haven't seen this error being caught either
    console.log("TruliooClient error caught in index.html line 110", err, str);
  }
  
</script>
      <h2 id="verifiedResponse" class="background"> Please verify above
      </h2>
      <hr>
      
      <form>
      <center><span class="background">Please select your primary concern in terms of <br><b>Municiple Capital Projects:</b></span>
        <div class="border">
        <label id="formLabel">
          Enter Project and Details        
        </label>
        <input name="capitalRequest" id="capitalRequest" type="text" maxlength="100"  placeholder="Specific Capital Project" required>
        </div>
        <div class="border">
        <input type="checkbox" id="noCapitalExpense" name="noCapitalExpense"><label for="noCapitalExpense">Avoid expenses</label> 
        </div>
        <div class="border" id="nameSpan">
        <label for="verifiedName">Name: Please verify above</label>  
        <input readonly name="verifiedName" id="verifiedName" type="text" placeholder="Name: Please verify above " required>
        </div>  
          <div id="tryAgain">
          </div>
        <button type="submit" id="submit-concern">Add Capital Expense request/concern</button>
          
        </center>
      </form>
      <div id="getMyData">
      </div>
      <hr>
      <section class="dreams">
        <div class="background">
          <ul id="dreams">
            <em>loading dreams&hellip;</em>
          </ul>
        </div>
      </section>
      <section id="trulioo">
      
      </section>
    </main>

    <footer>Made by <b>Paul O'Connell</b> 2020</footer>

    </center>
    
  </body>
</html>
